.text {
    margin: 3.5rem 0 0 0;
    padding: 1rem 1rem 0;
    font-size: 1rem;
    background-color: #F9F6FD;
    color: #58555E;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    padding: 0 1rem;
    z-index: 100;
    &__container {
        display: flex;
        align-items: center;
        height: 3.5rem;
        justify-content: space-between;
    }
    &__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: unset;
        background-color: #58555E;
    }
    &__logo {
        color: #19181B;
        font-weight: 500;
        display: none;
    }
    &__search {
        display: flex;
        padding: .40rem .75rem;
        background-color: #F4F0FA;
        border-radius: .25rem;
    }
    &__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: #F4F0FA;
        &::placeholder {
            font-family: 'Poppins', sans-serif;
            ;
            color: #58555E;
        }
    }
    &__icon,
    &__toggle {
        font-size: 1.2rem;
    }
    &__toggle {
        color: #19181B;
        cursor: pointer;
    }
}


/*========== NAV ==========*/

.nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 0;
    background-color: #FFFFFF;
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    z-index: 100;
    transition: .4s;
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3rem;
        overflow: auto;
        scrollbar-width: none;
        /* For mozilla */
        /* For Google Chrome and others */
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__logo {
        font-weight: 600;
        margin-bottom: 2.5rem;
    }
    &__list,
    &__items {
        display: grid;
    }
    &__list {
        row-gap: 2.5rem;
    }
    &__items {
        row-gap: 1.5rem;
    }
    &__subtitle {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: #A5A1AA;
    }
    &__link {
        display: flex;
        align-items: center;
        color: #58555E;
        &:hover {
            color: #6923D0;
        }
    }
    &__icon {
        font-size: 1.2rem;
        margin-right: .5rem;
    }
    &__name {
        font-size: .875rem;
        font-weight: 500;
        white-space: nowrap;
    }
    &__logout {
        margin-top: 5rem;
    }
    /* Dropdown */
    &__dropdown {
        overflow: hidden;
        max-height: 21px;
        transition: .4s ease-in-out;
        &-collapse {
            background-color: #F4F0FA;
            border-radius: .25rem;
            margin-top: 1rem;
        }
        &-content {
            display: grid;
            row-gap: .5rem;
            padding: .75rem 2.5rem .75rem 1.8rem;
        }
        &-item {
            font-size: .813rem;
            font-weight: 500;
            color: #58555E;
            &:hover {
                color: #6923D0;
            }
        }
        &-icon {
            margin-left: auto;
            transition: .4s;
        }
        /* Show collapse */
        &:hover {
            max-height: 100rem;
        }
        /*Rotate icon arrow*/
        &:hover &-icon {
            transform: rotate(180deg);
        }
    }
}


/*===== Show menu =====*/

.show-menu {
    left: 0;
}


/*===== Active link =====*/

.active {
    color: #6923D0;
}