@media (max-width: 768px) {
    .header {
        &__wrapper {
            position: relative;
            &-icon {
                z-index: 5;
                display: block;
                position: absolute;
                width: 30px;
                height: 18px;
                cursor: pointer;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                &::before,
                &::after,
                span {
                    left: 0;
                    position: absolute;
                    height: 10%;
                    width: 100%;
                    transition: all 0.3s ease 0s;
                    background-color: #fff;
                }
                &::after {
                    content: '';
                    bottom: 0;
                }
                &::before {
                    content: '';
                    top: 0;
                }
                span {
                    top: 50%;
                    transform: scale(1) translate(0, -50%);
                }
            }
            ._activeIcon {
                span {
                    transform: scale(0) translate(0, -50%);
                }
                &:before {
                    top: 50%;
                    transform: rotate(-45deg) translate(0, -50%);
                }
                &:after {
                    bottom: 50%;
                    transform: rotate(45deg) translate(0, 50%);
                }
            }
            &-menu {
                ._activeBody {
                    left: 0;
                }
                &-body {
                    overflow: auto;
                    position: fixed;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.9);
                    padding: 100px 30px 30px 30px;
                    transition: left 0.3s ease 0s;
                    &::before {
                        content: '';
                        position: fixed;
                        width: 100%;
                        top: 0;
                        left: 0;
                        height: 80px;
                        background: chocolate;
                        z-index: 2;
                    }
                    .list {
                        flex-direction: column;
                        &__li {
                            padding: 20px 0;
                            flex-wrap: wrap;
                            a {
                                font-size: 25px;
                            }
                            &-sub {
                                display: none;
                                position: relative;
                                flex: 1 1 100%;
                                background: transparent;
                                padding-bottom: 0;
                                a {
                                    color: white;
                                }
                            }
                        }
                        ._active {
                            .list__li-sub {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}