.hamburger {
    position: fixed;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    z-index: 5;
    display: none;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long {
        width: 36px;
    }
}

.menu {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
        &-close {
            display: none;
            img {
                height: 25px;
            }
        }
        &-items {
            display: flex;
            &-li {
                margin-left: 80px;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    font-weight: bold;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -3px;
                        height: 2px;
                        width: 0;
                        background: black;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
    .logo {
        z-index: 1;
        height: 100px;
        img {
            height: 100%;
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: blue;
        width: 80%;
        height: 100vh;
        margin: 0;
        padding: 20px;
        transform: translateX(-100%);
        transition: 1s all;
        position: absolute;
        &__list {
            &-close {
                display: block;
                position: absolute;
                top: 20px;
                right: 30px;
            }
            &-items {
                flex-direction: column;
                &-li {
                    margin-left: 0;
                    padding: 20px 0;
                    text-align: center;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    .active {
        transition: 1s all;
        transform: translateX(0);
    }
}

@media (max-width: 576px) {
    .menu {
        width: 100%;
        z-index: 6;
    }
}